<%- include('../partials/nav.ejs')%>

<ul>
  <% pastWorks.forEach(function(p) { %>

  <a href="/pastWorks/<%=p.id%>">
    <div class="container text-center">
        <img src="<%=p.image%>" class="workImg" />
        <p><%=p.title%></p>
    </div>
  </a>

  <% }); %>
</ul>

<%- include('../partials/footer.ejs')%>
