<%- include('../partials/nav.ejs')%>

<div class="container text-center">
  <h3><%=pastWorks.title%></h3>
  <img src="<%=pastWorks.image%>" />
  <p><%=pastWorks.description%></p>
</div>

<%- include('../partials/footer.ejs')%>
