<%- include('../partials/nav.ejs')%>

<a href="/pastWorks">Back</a>
<div class="container text-center">
  <h3><%=pastWork.title%></h3>
  <% if(pastWork.id === 139608){ %>
    <img src="<%=pastWork.image%>" class="idImg">
  <% } else { %>
    <img src="<%=pastWork.image%>">
  <% } %> 
  
  <h3>Description:</h3>
  <p><%=pastWork.description%></p>
  <p>Release Date: <%=pastWork.dateCompleted%></p>
  <h3>Revenue:</h3>
  <p><%=pastWork.revenue%></p>
</div>

<%- include('../partials/footer.ejs')%>
