<%- include('../partials/nav.ejs')%>
<div class="container text-center">
  <ul style="list-style: none;">
    <% for(let i=0; i< staffs.length; i++){%>
    <li>
      <h3><%=staffs[i].jobTitle%></h3>
      <p>Name: <%=staffs[i].name%></p>
      <p>Date Joined: <%=staffs[i].joinDate%></p>
      <p><strong>Fun Facts:</strong></p>
      <p>Favorite Food: <%=staffs[i].favoriteFood%></p>
      <p>Favorite Game: <%=staffs[i].favoriteGame%></p>
    </li>
    <hr />
    <%}%>
  </ul>
  
</div>

<%- include('../partials/footer')%>
